<%= form_for @dog, html: { multipart: true } do |f| %>

  <%= f.file_field :image %>

  <div class='form-group'>
    <%= f.label :name %>
    <%= f.text_field :title, class: "form-control", required: 'required' %>
    <%= f.label :age %>
    <%= f.text_field :age, class: "form-control", required: 'required' %>
    <%= f.label :sex %>
    <%= f.text_field :sex, class: "form-control", required: 'required' %>
    <%= f.label :info %>
    <%= f.text_area :info, class: "form-control", required: 'required' %>
    <%= f.hidden_field :user_id, value: current_user.id %>
  </div>

  <div class='form-group'>
    <%= f.submit class: 'btn btn-success' %>
  </div>
<% end %>
