<div id="profile-page">
<div id="profile-box">
<div id="profile-head"><%= @dog.name %></div>

<div id="donate">
  <%= link_to 'Donate', new_charge_path, id:'text-color2' %>
</div><br><br>

<div id="social">
  Help <%= @dog.name %> get adopted!
    <div class="fb-share-button" data-href="http://localhost:3000/dogs" data-layout="button_count">
    </div>
    <br>
    <a href="https://twitter.com/share" class="twitter-share-button">Tweet</a>
    <script>
    !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';
    if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}
    (document, 'script', 'twitter-wjs');
    </script>
</div>

<br>

<div id="profile-pic-stats">
  <%= image_tag @dog.image.url(:profile), id: 'pic' %>
  <br>
  <%= link_to "Apply for Adoption!", new_applicant_path, id:'apply-font' %><br>
  Breed: <i><%= @dog.breed %></i><br>
  Age: <i><%= @dog.age %> years old</i><br>
  Sex: <i><%= @dog.sex %></i>
</div>

<hr>
<div id="dog-story">
  <h3><%= @dog.name %>'s Story:</h3>
  <p><%= @dog.info %></p>
</div>
<hr>
<div id="dog-comments">
<h3>Comments:</h3>
  <% if @dog.comments.any? %>
    <% @comments.each do |comment| %>
    <ul>
      <b><%= comment.author %>:</b> <i><%= comment.content %></i>
      <% if current_user.id == @dog.user_id %>
      <%= link_to "Edit", edit_dog_comment_path(@dog, comment) %> |
      <%= link_to "Delete", dog_comment_path(@dog, comment),
      :data => {:confirm => "Are you sure?",
        :method => "delete"} %>
        <% end %>
      </ul>
      <% end %>
    <% else %>
    <p>There are no comments yet!</p>
    <% end %>
    <%= link_to "Add an comment", new_dog_comment_path(@dog) %>
  </div>

<div id='edit-dog-form'>
</div>
<hr>
<div id='dog-links'>
<p>
<%= link_to "Edit", edit_dog_path(@dog), id:'edit-dog-link', remote: true %><br>
<%= link_to "Delete", dog_path(@dog),
:data => {:confirm => "You sure?",
  :method => "delete"} %><br>
  <%= link_to "Return to Home", dogs_path %></p>
</div>
</div>
</div>
