<i><b><h1><%= @dog.name %></h1></b></i>
<br>
<%= image_tag @dog.image.url(:profile), id: 'pic' %>
<br>
<br>
<h5>Breed: <i><%= @dog.breed %></i></h5>
<h5>Age: <i><%= @dog.age %> years old</i></h5>
<h5>Sex: <i><%= @dog.sex %></i></h5><br>
<h5><%= @dog.name %>'s Story:</h5>
<p><%= @dog.info %></p>
<br>
<p><%= link_to "Edit", edit_dog_path(@dog) %></p>
<p><%= link_to "Delete", dog_path(@dog),
:data => {:confirm => "You sure?",
  :method => "delete"} %></p>
      <p><%= link_to "Return to Home", dogs_path %></p>
