<%= form_for @applicant, html: { multipart: true } do |f| %>
  <div>
    <%= f.label :dog_name %>
    <br>
    <%= f.text_field :dog, required: 'required' %>
    <br><br>
    <%= f.label :your_name %>
    <br>
    <%= f.text_field :name, required: 'required' %>
    <br><br>
    <%= f.label :phone %>
    <br>
    <%= f.text_field :phone, required: 'required' %>
    <br><br>
    <%= f.label :email %>
    <br>
    <%= f.text_field :email, required: 'required' %>
    <br><br>
    <%= f.label :address %>
    <br>
    <%= f.text_field :address, required: 'required' %>
    <br><br>
    <%= f.label :do_you_currently_own_a_cat? %>
    <br>
    <%= f.select :cats, [['Yes', true], ['No', false]] %>
    <br><br>
    <%= f.label :do_you_currently_own_a_dog? %>
    <br>
    <%= f.select :dogs, [['Yes', true], ['No', false]] %>
    <br><br>
    <%= f.label :do_you_have_children_under_age_7? %>
    <br>
    <%= f.select :kids, [['Yes', true], ['No', false]] %>
    <br><br>
    <%= f.label :tell_us_about_you! %>
    <%= f.cktext_area :about, class: "form-control", required: 'required' %><br>
    <%= f.submit "Submit Application", class: 'btn btn-success' %>
  </div>
<% end %>
<br>
