<div class="container">
  <div id="my-carousel" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#my-carousel" data-slide-to="0" class="active"></li>
      <li data-target="#my-carousel" data-slide-to="1"></li>
      <li data-target="#my-carousel" data-slide-to="2"></li>
      <li data-target="#my-carousel" data-slide-to="3"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">

      <div class="item active">
        <%= link_to image_tag("welcome.jpg") %>
        <div class="carousel-caption">
          <div id="carousel-text">Welcome to Von Dubinhaus Shepherds!</div>
        </div>
      </div>

      <div class="item">
        <%= link_to image_tag("rescue.jpg"), dogs_path %>
        <div class="carousel-caption">
          <div id="carousel-text">We are Portland's Exclusive German Shepherd Dog Rescue</div>
        </div>
      </div>

      <div class="item">
        <%= link_to image_tag("training.jpg") %>
        <div class="carousel-caption">
          <div id="carousel-text">Professional trainers with 15+ years experience</div>
        </div>
      </div>

      <div class="item">
        <%= link_to image_tag("boarding.jpg")%>
        <div class="carousel-caption">
          <div id="carousel-text">Board your dogs with Von Dubinhaus year round</div>
        </div>
      </div>

    </div>

    <!-- Left and right controls -->
    <a class="left carousel-control" href="#my-carousel" role="button" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#my-carousel" role="button" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
</div>
<div id="home-page-text">
  <br>
  <b><h1>Looking To Make a Difference and Enrich Your Life?<br>Why Shop? Adopt!</h1></b>
  <h3>Visit our <%= link_to "Rescue Page", dogs_path %> to learn more about our available Rescue Shepherds currently looking for forever-homes!</h3>
  <hr>
  <b><h1>We Don't Just Train Dogs - We Train You!</h1></b>
  <h3>Destructive Behaviour?</h3>
  <h3>Aggression?</h3>
  <h3>Barking & Whining All Day?</h3>
  <h3>Chasing the Cat?</h3>
  <h3>Food Guarding?</h3>
  <h3>Jumping?</h3>
  <h3>Begging?</h3>
  <h2>At the end of your rope?</h2>
  <h1>DON'T GIVE UP!! WE CAN HELP!</h1>
  <hr>
  <h2>About Us</h2>
  <h3>Aside from being one of Portland's leading dog rescues, we specialize in the most difficult behaviour problems, including aggression.<br><br>If you feel overwhelmed and are looking for an alternative to the pound or worse, our intense behaviour programs are what you need.<br><br>You and your dog deserve a happy life together, let us help you today!</h3>
  <hr>
  <h2>Our Services</h2>
  <p>We have provided dog training services in the Portland OR area for 15 years, including:
  <br>
  <p>✓Animal Rescue ✓Boarding ✓Basic & Advanced Obedience<br>✓Puppy & Adult Training ✓Group & One-on-One Sessions ✓Aggression & Behaviour Issues</p>
</div>
