<br>
<div class="container">
  <div id="carousel-home" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#carousel-home" data-slide-to="0" class="active"></li>
      <li data-target="#carousel-home" data-slide-to="1"></li>
      <li data-target="#carousel-home" data-slide-to="2"></li>
      <li data-target="#carousel-home" data-slide-to="3"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">
      <div class="item active">
        <%= link_to image_tag("welcome.jpg") %>
        <div class="carousel-caption">
          <div id="carousel-text">
            Welcome to Von Dubinhaus Shepherds!
          </div>
        </div>
      </div>
      <div class="item">
        <%= link_to image_tag("rescue.jpg"), dogs_path %>
        <div class="carousel-caption">
          <div id="carousel-text">
            Portland's Exclusive German Shepherd Dog Rescue
          </div>
        </div>
      </div>
      <div class="item">
        <%= link_to image_tag("training.jpg") %>
        <div class="carousel-caption">
          <div id="carousel-text">
            Professional trainers with 15+ years experience
          </div>
        </div>
      </div>
      <div class="item">
        <%= link_to image_tag("boarding.jpg")%>
        <div class="carousel-caption">
          <div id="carousel-text">
            Help your dog achieve their potential today!
          </div>
        </div>
      </div>
    </div>

    <!-- Left and right controls -->
    <a class="left carousel-control" href="#carousel-home" role="button" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#carousel-home" role="button" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
</div>
<br><br>
<div class="row" id="index-row">
  <div class="col-sm-4">
    <%= link_to image_tag("index_icon_1.png"), training_index_path %>
    <div class="carousel-caption">
      <div id="icon-text">
        <%= link_to "Training", training_index_path, id: "icon-text-2" %>
      </div>
    </div>
  </div>
  <div class="col-sm-4">
    <%= link_to image_tag("index_icon_2.jpg"), dogs_path, id: "rescue-icon" %>
    <div class="carousel-caption">
      <div id="icon-text">
        <%= link_to "Rescue", dogs_path, id: "icon-text-2" %>
      </div>
    </div>
  </div>
  <div class="col-sm-4">
  <%= link_to image_tag("index_icon_3.png"), new_donation_path, id: "donate-icon" %>
    <div class="carousel-caption">
      <div id="icon-text">
        <%= link_to "Donate", new_donation_path, id: "icon-text-2" %>
      </div>
    </div>
  </div>
</div>
<br><br>
<div id="home-page-text">
  <h1>Von Dubinhaus Shepherds</h1>
  <h4>Proudly serving Portland, Oregon's dog community since 1999</h4>
  <hr>
  <h1>We Don't Just Train Dogs - We Train You</h1>
  <h4>Customized training programs for ALL dog breeds, designed to fit your lifestyle!</h4>
  <hr>
  <h1>Looking To Make a Difference and Enrich Your Life?<br>Why Shop? Adopt!</h1>
  <h4>Visit our <%= link_to "Rescue Page", dogs_path %> to learn more about our
    available Rescue Shepherds currently looking for forever-homes!</h4>
  <hr>
  <h1>Our Services</h1>
  <h4>Animal Rescue • Basic & Advanced Obedience<br>Puppy & Adult Training
    • Aggression & Behavioral Issues</h4>
</div>
<br>
<footer>
  <div id="footer-text">
    <div class="social">
      <ul>
        <li><a href="https://www.facebook.com/Von-Dubinhaus-Shepherds-202535683142444/"><i class="fa fa-lg fa-facebook"></i></a></li>
        <li><a href="https://twitter.com/vondubshepherds"><i class="fa fa-lg fa-twitter"></i></a></li>
        <li><a href="https://www.instagram.com/vondubinhaus/"><i class="fa fa-lg fa-instagram"></i></a></li>
      </ul>
    </div>
    <% unless current_user %>
    <div><h5>Von Dubinhaus LLC | © Copyright 2016 | All Rights Reserved |
       <%= link_to 'Log in', new_user_session_path, id:'footer-text' %></h5>
    </div>
    <% else %>
    <div><h5>Von Dubinhaus LLC | © Copyright 2016 | All Rights Reserved |
      <%= link_to 'Log out',  destroy_user_session_path, method: 'delete', id:'footer-text' %></h5>
    </div>
    <% end %>
  </div>
</footer>
