<div id="forms">
  <header>Make a Donation</header>
  <br>
  <%= form_for @donation do |f| %>
    <%= f.label :first_name %>
    <br>
    <%= f.text_field :first_name, required: 'required' %>
    <br><br>
    <%= f.label :last_name %>
    <br>
    <%= f.text_field :last_name, required: 'required' %>
    <br><br>
    <%= f.label :email %>
    <br>
    <%= f.text_field :email, required: 'required' %>
    <br><br>
    <b>Donation</b> <%= f.label :amount %>
    <br>
    <%= f.text_field :amount, required: 'required' %>
    <br><br>
    <%= f.label :message %> (optional)
    <br>
    <%= f.text_area :message %>
    <br><br>
    <%= recaptcha_tags %>
    <br>
    <%= f.submit "Submit Donation", class: 'btn btn-primary btn-lg' %>
  <% end %>
</div>
