<center><header>Von Dubinhaus Alumni</header></center>
<br>
<div id="testimonial-profile">
<% @testimonials.each do |testimonial| %>
  <%= image_tag testimonial.image.url(:profile), id:'pic' =%>
  <br>
    <h3>Name: <%=  testimonial.name %></h3>
    <h3>Adopted: <%= testimonial.date %></h3>
    <h4><%= testimonial.story %></h4>
    <% if current_user %>
 <div id='edit-testimonial-form'>
 </div>
 <div id='testimonial-links'>
    <p>
    <%= link_to "Edit", edit_testimonial_path(testimonial), id:'edit-testimonial-link', remote: true %><br>
    <%= link_to "Delete", testimonial_path(testimonial),
    :data => {:confirm => "You sure?",
      :method => "delete"} %>
      <% end %>
<hr>
<% end %>
<%= link_to "Return to Home", home_index_path %></p>
 </div>
</div>
