<div id="carousel-alumni" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#carousel-alumni" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-alumni" data-slide-to="1"></li>
    <li data-target="#carousel-alumni" data-slide-to="2"></li>
  </ol>
  <!-- Wrapper for slides -->
  <div class="carousel-inner">
    <div class="item active">
      <center>
        <%= image_tag("mars_rescue.jpg") %>
      </center>
    </div>
    <div class="item">
      <center>
        <%= image_tag("hunter_rescue.jpg") %>
      </center>
    </div>
    <div class="item">
      <center>
        <%= image_tag("cyrus_rescue.jpg") %>
      </center>
    </div>
  </div>
  <a class="left carousel-control" href="#carousel-alumni" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#carousel-alumni" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
<div id="alumni-page-text">
  The following are former Von Dubinhaus rescue dogs whom have been successfully rehomed
</div>
<br><br>
<center>
<div id="alumni-row">
  <% @testimonials.each do |testimonial| %>
  <div class="col-md-4">
    <%= image_tag testimonial.image.url, id:"dog-box" %>
    <div id='alumni-name'>
      <%= testimonial.name %>
    <% if current_user %>
      <%= link_to "Delete", testimonial_path(testimonial),
      :data => {:confirm => "You sure?",
        :method => "delete"} %>
    <% end %>
    </div>
  </div>
  <% end %>
  <%= paginate @testimonials %>
</div>
</center>
<br>
