<p>Von Dubinhaus Shepherds Rescue is funded completely out of pocket. Donations of any amount gifted to our organization is greatly appreciation as it allows us to continue to do what we love so much -- help German Sheperd Dogs in need!</p>
  <p>Below we have some set amounts to choose from for those who wish to donate.  Thank you for your support and visiting our site!</p>
<p>Sincerely,<br>
Paul Dubinski and Brandon Seroyer</p>

<hr>
<%= form_tag charges_path do %>
  <article>
    <% if flash[:error].present? %>
      <div id="error_explanation">
        <p><%= flash[:error] %></p>
      </div>
    <% end %>

    <label class="amount">
      <span>Amount: $5.00</span>
    </label>

  <br><script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
          data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
          data-description="$5 donation"
          data-amount="500"
          data-locale="auto"></script><br><br>

    <label class="amount">
      <span>Amount: $10.00</span>
    </label>

    <br><script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
            data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
            data-description="$10 donation"
            data-amount="1000"
            data-locale="auto"></script><br><br>
        </article>

        <label class="amount">
          <span>Amount: $20.00</span>
        </label>

        <br><script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
                data-description="$20 donation"
                data-amount="2000"
                data-locale="auto"></script><br><br>
            </article>

            <label class="amount">
              <span>Amount: $50.00</span>
            </label>

            <br><script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                    data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
                    data-description="$50 donation"
                    data-amount="5000"
                    data-locale="auto"></script><br><br>
                </article>

                <label class="amount">
                  <span>Amount: $100.00</span>
                </label>

                <br><script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                        data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
                        data-description="$100 donation"
                        data-amount="10000"
                        data-locale="auto"></script><br><br>
                    </article>

<% end %>
