<!DOCTYPE html>
<html>
<head>
  <title>Von Dubinhaus Shepherds</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag "https://js.stripe.come/v1/", 'application', 'data-turbolinks-track' => true %>
  <link href='https://fonts.googleapis.com/css?family=Satisfy' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Homenaje' rel='stylesheet' type='text/css'>
  <%= csrf_meta_tags %>

    <meta property="og:url"           content="http://localhost:3000/dogs" />
    <meta property="og:type"          content="website" />
    <meta property="og:title"         content="Von Dubinhaus Shepherds" />
</head>
<body>
  <div id="header">
  </div>
  <div id="fb-root"></div>
  <script>(function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.5";
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));</script>

  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <%= link_to image_tag('logo.png'), home_index_path, id:'nav-text', class: "navbar-brand" %>
    </div>


  </ul>
    <div id="nav-right">
    <ul class="nav navbar-nav navbar-right">
      <% unless current_user %>
      <li><%= link_to 'Sign in', new_user_session_path, id:'text-color', class: "navbar-brand"  %></li>
      <li><%= link_to 'Sign up', new_user_registration_path, id:'text-color', class: "navbar-brand"  %></li>
      <% else %>
      <ul class="nav navbar-nav navbar-right">
      <li class="dropdown">
      <a href="#" id="text-color" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Admin Tools<span class="caret"></span></a>
      <ul class="dropdown-menu" id="dropdown">
      <li><%= link_to 'Add Dog', new_dog_path %></li>
      <li><%= link_to 'Add Testimonial', new_testimonial_path %></li>
      <li><%= link_to 'Adoption Applications', applicants_path %></li>
      <li><%= link_to 'Admin View', users_path %></li>
      </ul>
      <li class="dropdown">
      <a href="#" id="text-color" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dogs<span class="caret"></span></a>
      <ul class="dropdown-menu" id="dropdown">
      <li><%= link_to 'Available', dogs_path %></li>
      <li><%= link_to 'Testimonials', testimonials_path %></li>
      </ul>
      <li><%= link_to 'Donate', new_charge_path, id:'text-color' %></li>
      <li><%= link_to current_user.email, edit_user_registration_path, id:'text-color', class: "navbar-brand"  %></li>
      <li><%= link_to 'Log out',  destroy_user_session_path, method: 'delete', id:'text-color', class: "navbar-brand"  %></li>
      <% end %>
  </p>
    </ul>
  </div>
</div>
</nav>

<div class='container'>
  <% if alert %>
  <div class="alert alert-danger" role="alert"><%= flash[:alert] %></div>
  <% end %>

  <% if notice %>
  <div class="alert alert-success" role="alert"><%= flash[:notice] %></div>
  <% end %>
  <br>

  <%= yield %>
</div>

</body>
</html>
